/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-juggernaut-container {
	max-width: 1660px !important;
	box-sizing: border-box;
	padding: 0 1rem;
	margin: 0 auto;
	width: 100%;
}
